@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply dark:bg-slate-900;
  }
  body {
    @apply dark:bg-slate-900 dark:text-slate-200;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  h1{
    font-family: Montserrat; /*monospace*/
    font-weight: bolder;
  }

  h2{
    font-family: Montserrat;
  }


}
